*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homeConteiner {
  height: 100vh;
  background-color: #0093e9;
  background-image: linear-gradient(239deg, #0093e9 24%, #80d0c7 92%);
  list-style: none;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-template-rows: minmax(100px,auto);
  margin: 40px;
  grid-auto-flow: dense;
  gap: 20px;
  
}
